<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="https://www.ultrap.net.nz/thymeleaf/layout" lang="pt-br">
<head>
	<title>Regitrar-se</title>
</head>
<body>
	<div id="registrar-container">
		<h1>Registrar-se:</h1>
		<form method="post">
		Nome Completo: <input type="name" value="" name="nome"/>
		Cpf: <input type="text" value="" name="cpf"/>
		Data de nascimento: <input type="text" value="" name="nascimento"/>
		Email: <input type="text" value="" name="email"/>
		Senha: <input type="text" value="" name="senha"/>
		
		<button type="submit">Salvar</button>
		</form>
	</div>
</body>
</html>